fathens-image-card {
    ion-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 3%;

        .no-image {
            font-size: 2rem;
            color: red;
        }
    }
}
