<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear icon-only (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="lineup-pages">
    <ion-spinner *ngIf="!isReady"></ion-spinner>
    <div class="main" *ngIf="isReady">
        <div class="path">
            <div *ngFor="let line of path">
                <span>{{line}}</span>
            </div>
        </div>

        <ion-row class="name_key">
            <ion-item class="name">
                <ion-label floating>Name</ion-label>
                <ion-input [(ngModel)]="derivGroup.name"></ion-input>
            </ion-item>
            <ion-item class="key">
                <ion-label floating>Key</ion-label>
                <ion-input [(ngModel)]="key"></ion-input>
                <div item-left class="error" *ngIf="keyError">{{ keyError }}</div>
            </ion-item>
        </ion-row>

        <ion-card class="values">
            <ion-item-divider>
                <ion-label>Values</ion-label>
                <button ion-button item-right (click)="addNew()">
                    <ion-icon name="add"></ion-icon>
                    Add new
                </button>
            </ion-item-divider>
            <ion-item *ngFor="let a of derivGroup.availables">
                <ion-label (click)="open(a)">{{a.name}} ({{a.key}})</ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>
