<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear icon-only (click)="write()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="lineup-pages">
    <div class="path">
        <div *ngFor="let line of path">
            <span>{{line}}</span>
        </div>
    </div>

    <ion-item>
        <button ion-button color="danger" icon-left (click)="delete()">
            <ion-icon name="trash"></ion-icon>
            Delete
        </button>
    </ion-item>

    <ion-row class="name_key">
        <ion-item class="name">
            <ion-label floating>Name</ion-label>
            <ion-input [(ngModel)]="measure.name"></ion-input>
        </ion-item>
        <ion-item class="key">
            <ion-label floating>Key</ion-label>
            <ion-input [(ngModel)]="key"></ion-input>
            <div item-left class="error" *ngIf="keyError">{{ keyError }}</div>
        </ion-item>
    </ion-row>

    <ion-row class="numbers">
        <ion-item>
            <ion-label floating>Initial Value</ion-label>
            <ion-input [(ngModel)]="measure.initial" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>MIN</ion-label>
            <ion-input [(ngModel)]="measure.min" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>MAX</ion-label>
            <ion-input [(ngModel)]="measure.max" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>STEP</ion-label>
            <ion-input [(ngModel)]="measure.step" type="number"></ion-input>
        </ion-item>
    </ion-row>

    <ion-item class="description">
        <ion-label floating>Description</ion-label>
        <ion-textarea rows="3" [(ngModel)]="measure.description"></ion-textarea>
    </ion-item>

    <fathens-image-card (click)="uploadImage()" [target]="measure.image"></fathens-image-card>
</ion-content>
