<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear icon-only (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="lineup-pages">
    <div class="path">
        <div *ngFor="let line of path">
            <span>{{line}}</span>
        </div>
    </div>

    <ion-row class="name_key">
        <ion-item class="name">
            <ion-label floating>Name</ion-label>
            <ion-input [(ngModel)]="specGroup.name"></ion-input>
        </ion-item>
        <ion-item class="key">
            <ion-label floating>Key</ion-label>
            <ion-input [(ngModel)]="key"></ion-input>
            <div item-left class="error" *ngIf="keyError">{{ keyError }}</div>
        </ion-item>
    </ion-row>

    <div class="apply">
        <ion-item class="side">
            <ion-label>Side</ion-label>
            <ion-select [(ngModel)]="specGroup.side">
                <ion-option *ngFor="let v of sides" [value]="v" [selected]="specGroup.side === v">
                    {{v}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item class="canSame">
            <ion-label>canSame</ion-label>
            <ion-select [(ngModel)]="specGroup.canSame">
                <ion-option [value]="null" [selected]="specGroup.canSame == null">
                    None
                </ion-option>
                <ion-option *ngFor="let v of otherGroups" [value]="v" [selected]="v.key == specGroup.canSame">
                    {{v.name}}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>

    <ion-list class="values">
        <ion-list-header>
            <ion-label>Values</ion-label>
            <button ion-button item-right (click)="addNew()">
                <ion-icon name="add"></ion-icon>
                Add new
            </button>
        </ion-list-header>
        <ion-item-group reorder="true" (ionItemReorder)="reorder($event)">
            <ion-item *ngFor="let a of specGroup.availables">
                <ion-label (click)="open(a)">{{a.name}} ({{a.key}})</ion-label>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>
