<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear icon-only (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="lineup-pages">
    <div class="path">
        <div *ngFor="let line of path">
            <span>{{line}}</span>
        </div>
    </div>

    <ion-row>
        <ion-item class="global">
            <ion-label>Global</ion-label>
            <ion-checkbox [(ngModel)]="spec.isGlobal"></ion-checkbox>
        </ion-item>
    </ion-row>

    <ion-row class="name_key">
        <ion-item class="name">
            <ion-label floating>Name</ion-label>
            <ion-input [(ngModel)]="spec.name"></ion-input>
        </ion-item>
        <ion-item class="key">
            <ion-label floating>Key</ion-label>
            <ion-input [(ngModel)]="key"></ion-input>
            <div item-left class="error" *ngIf="keyError">{{ keyError }}</div>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item class="description">
            <ion-label floating>Description</ion-label>
            <ion-input [(ngModel)]="spec.description"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item class="price">
            <ion-label floating>Price</ion-label>
            <ion-input [(ngModel)]="spec.price" type="number"></ion-input>
        </ion-item>
    </ion-row>

    <ion-list class="children">
        <ion-list-header>
            <ion-label>Derives</ion-label>
            <button ion-button item-right (click)="addNew()">
                <ion-icon name="add"></ion-icon>
                Add new
            </button>
        </ion-list-header>
        <ion-item-group reorder="true" (ionItemReorder)="reorder($event)">
            <ion-item *ngFor="let dg of spec.derivGroups">
                <ion-label (click)="open(dg)">{{dg.name}} ({{dg.key}})</ion-label>
                <ion-select [(ngModel)]="dg.current" [selectedText]="dg.current.name">
                    <ion-option *ngFor="let v of dg.availables" [value]="v" [selected]="v.key == dg.current.key">
                        {{v.name}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <fathens-image-card (click)="uploadImage()" [target]="spec.image" [showPath]="true"></fathens-image-card>
</ion-content>
