<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear icon-only (click)="write()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="lineup-pages">
    <div>
        <ion-item>
            <button ion-button icon-left (click)="addNew()">
                <ion-icon name="add"></ion-icon>
                Add New
            </button>
        </ion-item>
    </div>
    <ion-list reorder="true" (ionItemReorder)="reorder($event)">
        <ion-item *ngFor="let sg of item.specGroups">
            <ion-label (click)="openSpec(sg)">{{sg.name}} ({{sg.key}})</ion-label>
            <ion-select [(ngModel)]="sg.current" [selectedText]="sg.current.name">
                <ion-option *ngFor="let v of sg.availables" [value]="v" [selected]="v.key == sg.current.key">
                    {{v.name}}
                </ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>
