<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear icon-only (click)="write()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="lineup-pages">
    <ion-list>
        <ion-list-header color="light">
            <ion-label>Specs</ion-label>
            <button ion-button item-right icon-left (click)="addNew()">
                <ion-icon name="add"></ion-icon>
                Add new
            </button>
        </ion-list-header>
        <ion-item-group reorder="true" (ionItemReorder)="reorder($event)">
            <ion-item *ngFor="let sg of item.specGroups">
                <ion-label (click)="openSpec(sg)">{{sg.name}} ({{sg.key}})</ion-label>
                <ion-select [(ngModel)]="sg.current" [selectedText]="sg.current.name">
                    <ion-option *ngFor="let v of sg.availables" [value]="v" [selected]="v.key == sg.current.key">
                        {{v.name}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>
