fathens-category {
    ion-item.key {
        background: linear-gradient(lightblue, white);
    }
    .flags {
        padding: 0 1rem 0 1rem;
        &>ion-list {
            margin-top: 1rem;
            padding-bottom: 1rem;
            border: 1px solid gray;

            &>ion-item-divider {
                background: #fafafa;
            }
        }
    }
}
