<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear icon-only *ngIf="categories" (click)="write()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="categories">
        <ion-list>
            <ion-list-header color="light">
                <ion-label>LIST</ion-label>
                <button ion-button item-right clear icon-only (click)="categories.add()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-list-header>

            <ion-item-group [reorder]="!editing" (ionItemReorder)="reorder($event)">
                <ion-item align-top *ngFor="let item of categories.list">
                    <button ion-button clear icon-only color="dark" item-left (click)="choose(item.key)">
                        <ion-icon [name]="editing !== item.key ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
                    </button>
                    <div *ngIf="editing !== item.key" (click)="choose(item.key)">
                        <p>{{ item.key }}: {{ item.value.title }}</p>
                    </div>
                    <div *ngIf="editing === item.key" class="editor">
                        <fathens-category [key]="item.key" (keyChange)="item.key = $event" [category]="item.value"></fathens-category>
                    </div>
                    <button ion-button clear icon-only color="danger" item-right (click)="delete(item)">
                        <ion-icon name="remove"></ion-icon>
                    </button>
                </ion-item>
            </ion-item-group>
        </ion-list>
    </div>
</ion-content>
