.lineup-pages {
    .lineup-list {
        display: flex;
        &>ion-card {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .name_key {
        display: flex;
        margin-bottom: 3rem;
    }

    .initial-value {
        margin-bottom: 3rem;
    }
}
