@mixin noImage($width) {
    max-width: $width;
    min-height: $width;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-image {
        width: 100%;
        margin-top: 40%;
        display: flex;
        justify-content: center;
        font-size: $width / 10;
        color: red;
    }
}

.lineup-pages {
    .lineup-list {
        &>ion-card {
            @include noImage(30vw);
        }
    }

    .path {
        font-size: 1rem;
        font-style: italic;
        color: #448;
        border-bottom: 2px solid #448;

        &>div:nth-child(1) {
            margin-left: 1rem;
        }
        &>div:nth-child(2) {
            margin-left: 2rem;
        }
        &>div:nth-child(3) {
            margin-left: 3rem;
        }
    }

    ion-row>ion-card:first-child {
        margin-top: 0;
    }

    .titleImage {
        margin-top: 2rem;
        justify-content: center;
    }

    .image {
        @include noImage(45vw);
    }

    .apply {
        margin: 2rem 0 2rem 0;
        align-items: flex-start;

        .side {
            border: 2px solid lightgray;

            &>ion-label {
                margin: 0;
                padding: 1rem;
                background-color: #f8f8f8;
            }
            ion-list {
                margin: 0;
            }
        }
    }

    .children, .values {
        &>ion-item-divider {
            background-color: #faffff;
        }

        &>ion-item {
            ion-label {
                color: #444;
                background-color: lightcyan;
                font-size: 1.5rem;
            }
        }
    }
}
