@mixin noImage($width) {
    max-width: $width;
    min-height: $width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .no-image {
        width: 100%;
        margin-top: 40%;
        display: flex;
        font-size: $width / 10;
        color: red;
    }

    &:first-child {
        margin-top: 0;
    }
}

.lineup-pages {
    .lineup-list {
        display: flex;
        &>ion-card {
            @include noImage(30vw);
        }
    }

    .image {
        @include noImage(45vw);
    }

    .name_key {
        display: flex;
    }

    .side {
        margin: 2rem 0 2rem 0;

        &>ion-item {
            background-color: #f8f8f8;
        }
        &>ion-list {
            border: 2px solid lightgray;
        }
    }

    .children, .values {
        margin-top: 2rem;
    }
}
