<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="lineup-pages" id="deriv-page">
    <ion-spinner *ngIf="!isReady"></ion-spinner>
    <div class="main" *ngIf="isReady">
        <div class="name_key">
            <div class="name">
                <ion-item>
                    <ion-label floating>Name</ion-label>
                    <ion-input [(ngModel)]="deriv.name"></ion-input>
                </ion-item>
            </div>
            <div class="key">
                <ion-item>
                    <ion-label floating>Key</ion-label>
                    <ion-input [(ngModel)]="deriv.key"></ion-input>
                </ion-item>
            </div>
        </div>

        <div class="description">
            <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-input [(ngModel)]="deriv.description"></ion-input>
            </ion-item>
        </div>

        <ion-card class="image" (click)="uploadImage()">
            <img *ngIf="deriv.image" [src]="deriv.image">
            <div class="no-image" *ngIf="!deriv.image">
                NO IMAGE
            </div>
        </ion-card>
    </div>
</ion-content>
