<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end *ngIf="isReady">
            <button (click)="addNew()">
                <ion-icon name="add"></ion-icon>
            </button>
            <button (click)="write()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="lineup-pages" id="item_group-page">
    <ion-spinner *ngIf="!isReady"></ion-spinner>
    <ion-row class="lineup-list" *ngIf="isReady">
        <ion-card class="image small" *ngFor="let item of itemGroup.availables" (click)="open(item)">
            <ion-card-title>{{item.name}}</ion-card-title>
            <div>
                <img *ngIf="item.titleImage" [src]="item.titleImage">
                <div class="no-image" *ngIf="!item.titleImage">
                    NO IMAGE
                </div>
            </div>
        </ion-card>
    </ion-row>
</ion-content>
