#item-page {
    ion-list {
        ion-item {
            div[item-left] {
                display: flex;
                align-items: center;

                button {
                    margin-right: 3rem;
                }
            }
        }
    }
}