<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button (click)="submit()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding id="item-page">
    <ion-spinner *ngIf="!isReady"></ion-spinner>
    <ion-list *ngIf="isReady">
        <ion-item *ngFor="let spec of item.specs">
            <ion-label (dblclick)="editName(spec)">{{spec.info.name}}</ion-label>

            <ion-label (dblclick)="editKey(spec)">{{spec.info.key}}</ion-label>

            <div item-right>
                <button (click)="open(spec)" clear>
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
