<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end *ngIf="isReady">
            <button (click)="addNew()">
                <ion-icon name="add"></ion-icon>
            </button>
            <button (click)="write()">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="lineup-pages" id="lineup-page">
    <ion-spinner *ngIf="!isReady"></ion-spinner>
    <div class="lineup-list" *ngIf="isReady">
        <ion-card *ngFor="let item of lineup.availables" (click)="open(item)">
            <p>{{item.info.name}}</p>
            <img [src]="item.titleImage">
        </ion-card>
    </div>
</ion-content>
