<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="lineup-pages" id="spec-page">
    <ion-spinner *ngIf="!isReady"></ion-spinner>
    <div class="main" *ngIf="isReady">
        <div class="name_key">
            <div class="name">
                <ion-item>
                    <ion-label floating>Name</ion-label>
                    <ion-input [(ngModel)]="spec.info.name"></ion-input>
                </ion-item>
            </div>
            <div class="key">
                <ion-item>
                    <ion-label floating>Key</ion-label>
                    <ion-input [(ngModel)]="spec.key"></ion-input>
                </ion-item>
            </div>
        </div>

        <div class="side">
            <ion-item>Side</ion-item>
            <ion-list radio-group [(ngModel)]="spec.info.side">
                <ion-item *ngFor="let v of sides">
                    <ion-label>{{v}}</ion-label>
                    <ion-radio [value]="v" [checked]="spec.info.side === v"></ion-radio>
                </ion-item>
            </ion-list>
        </div>

        <div class="canSame">
            <ion-item>
                <ion-label>canSame</ion-label>
                <ion-select [(ngModel)]="spec.info.canSame">
                    <ion-option [value]="null" [selected]="spec.info.canSame == null">
                        None
                    </ion-option>
                    <ion-option *ngFor="let v of spec.item.specs" [value]="v" [selected]="v.info.key == spec.info.canSame">
                        {{v.info.name}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </div>

        <ion-list class="values">
            <ion-item-divider>
                <ion-label>Values</ion-label>
                <button item-right (click)="addNew()">
                    <ion-icon name="add"></ion-icon>
                    Add new
                </button>
            </ion-item-divider>
            <ion-item *ngFor="let a of spec.availables">
                <ion-label (click)="open(a)">{{a.info.name}} ({{a.info.key}})</ion-label>
                <button item-right clear (click)="spec.info.value.initial = a.info.key">
                    <ion-icon [name]="a.info.key === spec.info.value.initial ? 'checkbox-outline' : 'square-outline'"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
