<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="lineup-pages" id="spec-page">
    <ion-spinner *ngIf="!isReady"></ion-spinner>
    <div class="main" *ngIf="isReady">
        <div class="path">
            <div *ngFor="let line of path">
                <span>{{line}}</span>
            </div>
        </div>

        <ion-row class="name_key">
            <div class="name">
                <ion-item>
                    <ion-label floating>Name</ion-label>
                    <ion-input [(ngModel)]="spec.name"></ion-input>
                </ion-item>
            </div>
            <div class="key">
                <ion-item>
                    <ion-label floating>Key</ion-label>
                    <ion-input [(ngModel)]="spec.key"></ion-input>
                </ion-item>
            </div>
        </ion-row>

        <ion-row class="description">
            <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-input [(ngModel)]="spec.description"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row class="price">
            <ion-item>
                <ion-label floating>Price</ion-label>
                <ion-input [(ngModel)]="spec.price" type="number"></ion-input>
            </ion-item>
        </ion-row>

        <ion-card class="children">
            <ion-item-divider>
                <ion-label>Derives</ion-label>
                <button item-right (click)="addNew()">
                    <ion-icon name="add"></ion-icon>
                    Add new
                </button>
            </ion-item-divider>
            <ion-item *ngFor="let dg of spec.derivGroups">
                <ion-label (click)="open(dg)">{{dg.name}} ({{dg.key}})</ion-label>
                <ion-select [(ngModel)]="dg.current">
                    <ion-option *ngFor="let v of dg.availables" [value]="v" [selected]="v.key == dg.current.key">
                        {{v.name}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-card class="image" (click)="uploadImage()">
            <img *ngIf="spec.image" [src]="spec.image">
            <div class="no-image" *ngIf="!spec.image">
                NO IMAGE
            </div>
        </ion-card>
    </div>
</ion-content>
